.nft-transfer-2 h3, .nft-transfer-2 h1{color: #E2D087;}
.nft-transfer-2 .shadow-button a{color: #E2D087;}
.nft-transfer-2 .nft-img{border-color: #E2D087;}
.nft-transfer-2 .nft-card::before{background: #E2D087;}