.nftDetails-img {
    height: 530px;
    width: 530px;
    left: 226px;
    top: 206px;
    border-radius: 15px;
}

.back-to-inventory {
    height: 19px;
    width: 128px;
    left: 247px;
    top: 161px;
    border-radius: nullpx;

}