.activity-tabs ul.nav {display: flex;align-items: center;justify-content: center;background: #131313;box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.75);}
.table>:not(:first-child) {border-top: 2px solid #5B5A5F;}
.activity-tabs ul.nav li {list-style: none;text-align: center;cursor: pointer;transition: all 0.7s;padding: 33px;text-transform: capitalize;font-family: 'MuseoSans';font-weight: 400;font-size: 16px;line-height: 19px;color: #fff;border-bottom: 3px solid transparent;display: flex;align-items: center;position: relative;}
.activity-tabs ul.nav li:not(:last-child) {margin-right: 89px;}
.activity-tabs ul.nav li::before{content: "";position: absolute;left: 0;right: 0;bottom: 0;border-bottom: 4px solid #E3D99B;color: #fff;opacity: 0;transition: all ease-in-out 0.3s;}
.activity-tabs ul.nav li:hover::before, .activity-tabs ul.nav li.active::before{opacity: 1;}
@media (max-width: 1499px) {
  .collection-spacing {margin-top: 0;}
}
@media (max-width:1399px) {
  .activity-tabs ul.nav li {padding: 18px 26px;}
}
@media (max-width:1199px) {
  .activity-tabs ul.nav li:not(:last-child){margin-right: 40px;}
}
@media (max-width: 991px) {
  .activity-tabs ul.nav li:not(:last-child){margin-right: 20px;}
  .activity-tabs ul.nav li{padding: 15px;}
}
@media (max-width:767px) {
  .activity-tabs ul.nav li:not(:last-child) {margin-right: 30px;}
  .activity-tabs ul.nav li::before {border-bottom: 2px solid #E3D99B;}
  .activity-tabs ul.nav {border-bottom: 1px solid #928E92;}
  .table>:not(:first-child) {border-top: 1px solid #5B5A5F;}
  .activity-tabs ul.nav{background: transparent;box-shadow: none;border-color: #E2D087;}
}
@media (max-width:576px) {
  .activity table tr td, .activity table tr th {padding: 15px;}
  .activity-tabs ul.nav li {font-size: 14px;line-height: 18px;}
  .activity-tabs ul.nav li:not(:last-child) {margin-right: 10px;}
  .activity-tabs ul.nav li figure {width: 25px;margin-right: 10px;}
  .activity-tabs ul.nav li figure img {width: 100%;height: 100%;object-fit: cover;}
  .activity table tr td, .activity table p {font-size: 13px;line-height: 17px;}
}