/* loader */
.load{
    /* border: 1px solid #ECF0F1; */
    /* padding: 5px; */
    position:absolute;
    top:50%;
    left:50%;
    transform-origin: center center;
    transform:translate(-50%, -50%) rotate(135deg);
    /* width:50px; */
    /* height:50px; */
  }
  @keyframes loader-rotate {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loader-rotate {
    -webkit-animation: loader-rotate 2s linear infinite;
    -moz-animation: loader-rotate 2s linear infinite;
    -ms-animation: loader-rotate 2s linear infinite;
    -o-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
  }
  .load hr{
    border:0;
    margin:0;
    width:40%;
    height:40%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite;
  }
  
  /* .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
        .load :first-child{background: #5d9f76;animation-delay:-1.5s}
        .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
        .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
        .load :last-child{background:#c5c986} */
  @keyframes spin{
    0%,100%{transform:translateX(200%)}
    25%{transform:translateY(200%)}
    50%{transform:translateX(0)}
    75%{transform:translateY(0)}
  }
  .loading-overlay {
    /* display: none; */
    backdrop-filter: brightness(12%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    align-items: center;
    justify-content: center;
  }
  
  /*  */